<div class="grid-item-6 center">
  <h2>Coffee&lt;br&gt; is a new app that allows you to
    <br>network on demand somewhere you've never been with ease
    <br>somewhere you've never been. Set up meetings at a bars cafes and restaurants.</h2>
</div>
